<h1>Password reset</h1>
<p>To reset this password please click the link below</p>
<%= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p>If you haven't requested password change please disregard this message</p>
